@media (min-width: 960px) {
	.header {
		//NavBar Styling
		// <div className="max-width">
		.navbar {
			position: fixed;
			width: 100%;
			font-family: "Ubuntu", sans-serif;
			padding: 30px 0;

			.logo a {
				color: #fff;
				font-size: 35px;
				font-weight: 600;
			}

			// .max-width {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: auto;
			padding: 40px 100px;

			.menu {
				li {
					list-style: none;
					display: inline-block;

					a {
						color: #fff;
						font-size: 18px;
						font-weight: 500;
						margin-left: 25px;
					}
				}
			}
			// }
		}
	}
}
